<% Category.root_categories.each do |category| %>
  <li class="dropdown menu__item">
    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= category.name.upcase %><span class="caret"></span></a>
    <ul class="dropdown-menu multi-column columns-3">
      <div class="row">
        <div class="col-sm-6 multi-gd-img">
          <ul class="multi-column-dropdown">
            <% category.sub_categories.each do |sub_category| %>
              <li><%= link_to sub_category.name, items_path(cat: sub_category.name) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-6 multi-gd-img multi-gd-text ">
          <%= link_to 'javascript:void(0);' do %>
            <%= image_tag category.avatar.url %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </ul>
  </li>
<% end %>
