<li class="dropdown menu__item">
  <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">women's
    wear <span class="caret"></span></a>
  <ul class="dropdown-menu multi-column columns-3">
    <div class="row">
      <div class="col-sm-3 multi-gd-img">
        <ul class="multi-column-dropdown">
          <li><a href="womens.html">Clothing</a></li>
          <li><a href="womens.html">Wallets</a></li>
          <li><a href="womens.html">Footwear</a></li>
          <li><a href="womens.html">Watches</a></li>
          <li><a href="womens.html">Accessories</a></li>
          <li><a href="womens.html">Bags</a></li>
          <li><a href="womens.html">Caps & Hats</a></li>
        </ul>
      </div>
      <div class="col-sm-3 multi-gd-img">
        <ul class="multi-column-dropdown">
          <li><a href="womens.html">Jewellery</a></li>
          <li><a href="womens.html">Sunglasses</a></li>
          <li><a href="womens.html">Perfumes</a></li>
          <li><a href="womens.html">Beauty</a></li>
          <li><a href="womens.html">Shirts</a></li>
          <li><a href="womens.html">Sunglasses</a></li>
          <li><a href="womens.html">Swimwear</a></li>
        </ul>
      </div>
      <div class="col-sm-6 multi-gd-img multi-gd-text ">
        <a href="womens.html"><%= image_tag 'woo.jpg' %></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </ul>
</li>