default: &default
  adapter: mysql2
  timeout: 5000

development:
  <<: *default
  database: maa_bala_sundri_dev
  username: root
  password: Welcome@123

production:
  <<: *default
  database: maa_bala_sundri_prod
  username: root
  password: Welcome@123
