# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c8f2cb85e09ed46ba3215f81dafa4ed7976e61e6e3194f9e0c09ecfde0ee7b7469d9dbbeb31174d85a726f1f7a1d950b85dcad16e7efd3e19e3d84167bffe773

test:
  secret_key_base: 3007ea16715e645ba77977b54afb1dd7a43670ed80d40a68f356571cb2d2dacd02221a52bee4d0ed4977c8aa1e6c6f0c92a0bf7a521568299e01c4879593658d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
