<ul id="myTab" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                            aria-controls="home" aria-expanded="true">Description</a>
  </li>
  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                             aria-controls="profile">Reviews(1)</a></li>
  <li role="presentation" class="dropdown">
    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"
       aria-controls="myTabDrop1-contents">Information <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
      <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab"
             aria-controls="dropdown1">cleanse</a></li>
      <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab"
             aria-controls="dropdown2">fanny</a></li>
    </ul>
  </li>
</ul>