<div class="sorting">
  <h6>Showing</h6>
  <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
    <option value="null">7</option>
    <option value="null">14</option>
    <option value="null">28</option>
    <option value="null">35</option>
  </select>
  <div class="clearfix"></div>
</div>