<div class="men-pro-item simpleCart_shelfItem">
  <div class="men-thumb-item">
    <%= image_tag item.images.first.avatar.url(:index), class: 'pro-image-front' %>
    <%#= image_tag 'a2.png', class: 'pro-image-front' %>
    <%#= image_tag 'a2.png', class: 'pro-image-back' %>
    <div class="men-cart-pro">
      <div class="inner-men-cart-pro">
        <%= link_to 'Quick View', item_path(item), class: 'link-product-add-cart' %>
        <!--<a href="single.html" class="link-product-add-cart">Quick View</a>-->
      </div>
    </div>
    <span class="product-new-top">New</span>

  </div>
  <div class="item-info-product ">
    <h4><a href="single.html">Blazers</a></h4>
    <div class="info-product-price">
      <span class="item_price">$45.99</span>
      <del>$69.71</del>
    </div>
    <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>
  </div>
</div>