<div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated"
     data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
  <h3><%= item.name %></h3>
  <p><span>₹<span class="item_price">550</span></span>
    <!--<del>- ₹900</del>-->
  </p>

  <%= render partial: 'items/star_rating' %>

  <div class="description">
    <h5>Check delivery, payment options and charges at your location</h5>
    <input type="text" value="Enter pincode" onfocus="this.value = '';"
           onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
    <input type="submit" value="Check">
  </div>
  <div class="color-quality">
    <div class="color-quality-right">
      <h5>Quality :</h5>
      <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
        <option value="null">5 Qty</option>
        <option value="null">6 Qty</option>
        <option value="null">7 Qty</option>
        <option value="null">10 Qty</option>
      </select>
    </div>
  </div>
  <div class="occasional">
    <h5>Types :</h5>
    <div class="colr ert">
      <label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
    </div>
    <div class="colr">
      <label class="radio"><input type="radio" name="radio"><i></i>Sports Shoes</label>
    </div>
    <div class="colr">
      <label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="occasion-cart">
    <a href="#" class="item_add hvr-outline-out button2">Add to cart</a>
  </div>

</div>