<div class="sorting">
  <h6>Sort By</h6>
  <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
    <option value="null">Default</option>
    <option value="null">Name(A - Z)</option>
    <option value="null">Name(Z - A)</option>
    <option value="null">Price(High - Low)</option>
    <option value="null">Price(Low - High)</option>
    <option value="null">Model(A - Z)</option>
    <option value="null">Model(Z - A)</option>
  </select>
  <div class="clearfix"></div>
</div>