<div class="men-wear-bottom">
  <div class="col-sm-4 men-wear-left">
    <%= image_tag category.avatar.url, class: 'img-responsive' %>
  </div>
  <div class="col-sm-8 men-wear-right">
    <h4>Exclusive <%= category.name.upcase %> Collections</h4>
    <p><%= category.description %></p>
  </div>
  <div class="clearfix"></div>
</div>