<div class="men-wear-bottom">
  <div class="col-sm-4 men-wear-left">
    <%= image_tag 'men3.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-sm-8 men-wear-right">
    <h4>Exclusive Men's Collections</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
      ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
      odit aut fugit. </p>
  </div>
  <div class="clearfix"></div>
</div>