<div class="css-treeview">
  <h4>Categories</h4>
  <ul class="tree-list-pad">
    <% Category.root_categories.each_with_index do |category, cat_index| %>
      <%= render partial: 'categories/category', locals: {category: category, cat_index: cat_index} %>
    <% end %>
  </ul>
</div>