<li><input type="checkbox" id="item-0-0"/><label for="item-0-0"><%= category.name.upcase %></label>
  <ul>
    <% category.sub_categories.each do |sub_category| %>
      <%= render partial: 'categories/sub_category', locals: {sub_category: sub_category} %>
    <% end %>
  </ul>
</li>