<div class="community-poll">
  <h4>Community Poll</h4>
  <div class="swit form">
    <form>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio" checked=""><i></i>More convenient
          for shipping and delivery</label></div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Lower Price</label></div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Track your item</label>
        </div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Bigger Choice</label>
        </div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>More colors to
          choose</label></div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Secured Payment</label>
        </div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Money back
          guaranteed</label></div>
      </div>
      <div class="check_box">
        <div class="radio"><label><input type="radio" name="radio"><i></i>Others</label></div>
      </div>
      <input type="submit" value="SEND">
    </form>
  </div>
</div>