<li><a href="mens.html">Shirts</a></li>
<li><a href="mens.html">Caps</a></li>
<li><a href="mens.html">Shoes</a></li>
<li><a href="mens.html">Pants</a></li>
<li><a href="mens.html">SunGlasses</a></li>
<li><a href="mens.html">Trousers</a></li>